body{
    margin: 2%;
}

div.header1, .name{  /*about me*/
    color: aliceblue;
    text-align: center;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size:36px;
padding:0px;
  margin:0 auto;
  }

.cornerimg{
    position: absolute;
}

.name{
 width: 100px;
height: 100px;
text-align: center;
margin:0 auto;

}

.name:hover {
  transform: scale(5); /* comes out 50%(?) larger */
  color: rgb(205, 63, 169);
  transition:  0.3s ease-in-out; /* makes itlarger */
  transition-delay: 0.2s;
}

div.button{   /*click me*/
    position: fixed;
    top: 0;
    right:0;
    margin:3%;
    background-color: #b2abeb;
  border-style: groove;
  border-radius: 50%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

 div.button2{  /*link*/
    position: fixed;
    bottom: 0;
    left:0;
    margin:3%;
    background-color: #a1c4e2;
  border-style:outset;
  border-radius: 50%;
  border-width:4px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.list{
    display: inline-block;  /* makes the 2 column of lists*/
    color: #3c153c;
    font-family: 'Arial Narrow', sans-serif;
}

.thingsilike{ /*things i like section*/
    display: inline-block;
    color:#3c153c;
    background-color: aliceblue;
    border:dotted;
    border-width:5px;
    padding: 3%;
    margin:5%;
    height: 300px;
    width:300px;
    text-align: center;
}

.h2, .tablehead{ /*titles inside 2 boxes*/
    color: #3c153c;
    text-align: center;
     font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size:20px;
}

.h3{ /*Leah*/
    text-align: center;
    
}


div.table{
    display: inline-block;
    height: 300px;
    width:300px;
    border: dotted;
    border-width:5px;
     color:#3c153c;
    background-color: aliceblue;
       padding: 3%;
    margin:10px;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 24px;
    
}

td, th{
    line-height: 25px;
}

.container{ /*icon pics*/
    display: flex;
     height: 120px;
     justify-content: space-evenly;
}

div.container2{ /*texts boxes*/
    display: flex;
    height:400px;
    justify-content: space-evenly;
    align-items: center;
    margin:3%;
    

}

div.list{
    display: flex;
    padding-bottom:4%;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

.container3{   /*top text box*/
    display:inline-block;
    color:#3c153c;
    background-color: aliceblue;
    border-style:dotted;
    padding: 10px;
    margin:2%;
    align-items: center;
}

.h5, .h6, .thx{ /*movie & albums header*/
    display: flex;
    color: aliceblue;
    font-size: 46px;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin:0%;
  }


div.movie{
   padding:30px;
   display:flex;
   justify-content: space-evenly;
  margin: 0 auto;
  align-items: center;
}

.container5{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

}

.container5 > img{  
    width: 400px;
    height:400px;
}
/* if this isnt on every single picture messes up its so crazy i dont know why this is happening  */
th:hover{
background-color: #3c153c;
color:white;
}                                         /* ^table hover v */
td:hover{
  background-color: #838edc;
  color:white;
}

div.paragraph{
    text-align: center;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 24px;
}  

img{
    padding: 15px;
    }

img:hover{
transform: scale(1.5); 
transition:  0.3s ease-in-out;
}

.thx{
    margin-bottom: 5%;
}